
#bgcolor {color: #4CAF50}

/*Welcome text*/
#h3{color: black;
    font-size: 80px;
    padding-left: 110px;
    /*cursor: pointer;*/
    cursor: cell;
    font-style: italic;
    text-align: center;

}
body {
    background: #d6eaf8;


/*    заглавная шапка*/
}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
text-align: center;
}
.gradient-button:hover {
    background-position: right center;

}



/* Style the links inside the sidenav */
#mySidenav a {
   display: flex;
    flex-direction: column;


    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding:15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */


}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3; /* Blue */
}

#projects {
    top: 140px;
    background-color: #f44336; /* Red */
}

#contact {
    top: 200px;
    background-color: #555 /* Light Black */
}



.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    /*border: none;*/
    outline: none;
    color: white; //текст
    padding: 14px 16px;
    background-color: dodgerblue; //фон кнопки
    font-family: inherit;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, .4);
    box-sizing: border-box
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:red ; //фон при наведении
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header{
    top: 0;
    z-index: 1000;
}

body {
    background: #A4DADA;}

.intro{
    width: 100%;
    height: 100vh;
}


.sidenav{
    position: absolute;
    top: 250px;
}


/*Product*/
* {
    box-sizing: border-box;
}
.product-item {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}
.product-item:hover {
    border-bottom: 2px solid #fc5a5a;
}
.product-item img {
    display: block;
    width: 100%;
}
.product-list {
    background: #fafafa;
    padding: 15px 0;
}
.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
}
.price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}
.product-item:hover .button {
    background: #fc5a5a;
}